.palettelist {
  // background-color: blue;
  background-image: url("../../assets/background/confetti-doodles.svg"); // background by SVGbackgrounds.com
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .container {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    @media (max-width: 1400px) {
      width: 80%;
    }
  }

  .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;

    a {
      color: white;
    }
  }

  .palettes {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;

    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 50%);
      grid-gap: 1rem;
    }

    @media (max-width: 375px) {
      grid-template-columns: repeat(1, 100%);
      grid-gap: 1.5rem;
    }
  }
}

.heading {
  font-size: 2.5rem;

  @media (max-width: 992px) {
    font-size: 2rem;
  }

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }

  @media (max-width: 375px) {
    font-size: 1.25rem;
  }
}

.heading-create {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 400;

  @media (max-width: 992px) {
    font-size: 1.35rem;
  }

  @media (max-width: 576px) {
    font-size: 1.25rem;
  }

  @media (max-width: 375px) {
    font-size: 1rem;
  }
}
