.nav-buttons {
  display: flex;
}

.appBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
}

.nav-tab {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.save-palette-button {
  height: 36px;
  margin-right: 1rem !important;
}
