.nav-buttons {
  display: flex;
}

.appBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
}

.nav-tab {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.save-palette-button {
  height: 36px;
  margin-right: 1rem !important;

  @media (max-width: 375px) {
    height: 32px !important;
    font-size: 8px !important;
    margin: 0 4px !important;
  }
}

.go-back-button {
  @media (max-width: 375px) {
    height: 32px !important;
    font-size: 8px !important;
    margin: 0 4px !important;
  }
}

.typography-title {
  @media (max-width: 375px) {
    font-size: 16px !important;
  }

  @media (max-width: 576px) {
    font-size: 16px !important;
  }
}

.icon button {
  @media (max-width: 375px) {
    margin: 0 !important;
  }
}
